@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background-cabecalho: #20303d;
  --branco: #f0f1fc;
  --azul-navegacao: #19228a;
  --vermelho-hover: #a4252f;

  --fonte-nome-loja: "Encode Sans SC", sans-serif;
  --fonte-texto: "Montserrat", sans-serif;
}

body {
  font-family: var(--fonte-texto);
  margin: 0;
  padding: 0;
  background: var(--branco);
  
}

/* CABEÇALHO (HEADER) *********************************************/
.cabecalho {
  background-color: var(--background-cabecalho);
  position: fixed;
  width: 100%;
}

.cabecalho-imagem {
  width: 100px;
  height: 100%;
}

.cabecalho-titulo {
  color: var(--branco);
  font-size: 2.5rem;
  font-family: var(--fonte-nome-loja);
}

#menu-botao {
  background-color: var(--background-cabecalho);
  color: var(--branco);
  border: none;
  font-size: 30px;
}

.menu-navegacao,
.menu-navegacao-botao {
  justify-content: center;
  background-color: var(--azul-navegacao);
}

.menu-navegacao-botao {
  text-align: center;
  display: none;
}

.menu-navegacao-lista {
  list-style-type: none;
  padding: 6px;
}

.menu-navegacao-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--branco);
  transition: 0.5s;
}

.menu-navegacao-link:hover {
  color: var(--vermelho-hover);
}

/* SOBRE A LOJA **********************************************************/
.sobre {
  display: flex;
  padding: 200px 80px 0 80px;
}

.sobre img {
  height: 25rem;
  width: auto;
  padding-top: 30px;
}

.sobre-container {
  display: flex;
  flex-direction: column;
}

.sobre-container h2,
.sobre-container h3 {
  margin: 0;
}

.sobre-container h2 {
  font-size: 2rem;
  color: var(--azul-navegacao);
}

.sobre-container h3 {
  font-size: 1rem;
  color: gray;
}

.sobre-container p {
  text-align: justify;
  line-height: 1.5rem;
  padding-right: 30px;
}

.sobre-container p strong {
  color: var(--azul-navegacao);
}

.div-botao {
  text-align: center;
}

.div-botao button {
  width: 10rem;
  border: none;
  padding: 15px;
  border-radius: 10px;
  background: var(--vermelho-hover);
  color: var(--branco);
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 15px;
  font-weight: bold;
  transition: 0.5s;
}

.div-botao button:hover {
  background: var(--background-cabecalho);
}

/* ESTOQUE **********************************************************************/
.card-secao {
  padding: 50px 0;
}

.estoque-titulo {
  font-size: 2rem;
  color: var(--azul-navegacao);
  text-align: center;
}

.div-cards {
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 20px;
}

.card {
  width: 250px;
  height: 26rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #dcdcdc;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  border-radius: 10px;
  width: 100%;
  height: 160px;
}

.card strong {
  color: #000;
}

.card span {
  color: gray;
}

.card-nome-carro {
  color: var(--azul-navegacao);
  font-family: var(--fonte-nome-loja);
}

/* ENDEREÇO */
.secao-endereco {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.secao-endereco-texto {
  font-size: 1.5rem;
}

/* CONTATO */
.secao-contato {
  padding: 0 80px;
}

.secao-contato a {
  text-decoration: none;
  color: black;
}

.contato-titulo {
  margin-top: 0;
}

.secao-contato-informacoes {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 40px;
}

.secao-contato-titulo {
  text-align: center;
}

.secao-contato-inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;

  input {
    padding: 12px;
    border: none;
    background-color: #cdcdcd;
    border-radius: 10px;
    text-indent: 10px;
  }

  textarea {
    border: none;
    border-radius: 15px;
    text-indent: 10px;
    background-color: #cdcdcd;
    text-indent: 18px;
    font-size: 1rem;
  }

  button {
    border: none;
    padding: 15px;
    border-radius: 10px;
    background: var(--vermelho-hover);
    color: var(--branco);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.5s;
  }

  button:hover {
    background: var(--background-cabecalho);
  }
}

/* .secao-contato-formas-contato {
  display: flex;
  flex-direction: column;
} */

.secao-contato-botao {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
}

/* RODAPÉ **************************************************************************/
footer {
  background-color: var(--background-cabecalho);
  display: flex;
  bottom: 0;
  height: 200px;
  width: 100%;
  justify-content: center;
  gap: 20px;
  color: var(--branco);
}

.rodape-logo {
  width: 10rem;
  height: 10rem;
  padding-top: 10px;
  border-radius: 100%;
}

.rodape-links {
  color: var(--branco);
  text-decoration: none;
  transition: 0.5s;
}

.rodape-nav li {
  list-style-type: none;
  /* margin-bottom: 10px; */
}

.rodape-nav li a {
  text-decoration: none;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 30px;
}

.redes-sociais :hover {
  color: var(--vermelho-hover);
  transition: 0.5s;
  transform: scale(1.2);
}

.rodape-p:hover {
  color: var(--vermelho-hover);
  transition: 0.5s;
}

.rodape-links:hover {
  color: var(--vermelho-hover);
  transition: 0.5s;
}

/*** MEDIA QUERIES - CABEÇALHO ****************************************/
@media screen and (min-width: 320px) {
  .cabecalho-logo-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-navegacao {
    display: none;
  }

  .cabecalho-titulo {
    margin: 20px 0;
  }
}

@media screen and (min-width: 800px) {
  #menu-botao,
  .menu-navegacao-botao {
    display: none;
  }

  .cabecalho-logo-titulo {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .cabecalho-titulo {
    padding-left: 4rem;
  }

  .menu-navegacao {
    display: flex;
    gap: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .cabecalho-titulo {
    text-align: center;
  }

  .menu-navegacao {
    gap: 5rem;
  }

  .cabecalho-logo-titulo {
    grid-template-columns: 30% 30% 30%;
  }
}

@media screen and (min-width: 1500px) {
  .cabecalho-titulo {
    padding-left: 8rem;
  }

  .menu-navegacao {
    gap: 16rem;
  }
}

/*** MEDIA QUERIES - SOBRE **************************/
@media screen and (max-width: 768px) {
  .sobre {
    flex-direction: column;
    padding: 15rem 20px 0 20px;
  }

  .sobre p {
    padding: 0;
  }
}

@media (min-width: 769px) and (max-width: 799px) {
  .sobre {
    flex-direction: column;
    padding: 15rem 60px 0 60px;
  }

  .sobre p {
    padding: 0;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  .sobre {
    flex-direction: column;
    padding: 10rem 60px 0 60px;
  }

  .sobre p {
    padding: 0;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .sobre {
    padding: 10rem 60px 0 60px;
  }

  .primeiro-p {
    display: none;
  }

  p {
    padding-top: 20px;
  }
}

/*** MEDIA QUERIES - RODAPÉ **************************/
@media screen and (max-width: 900px) {
  .div-logo {
    display: flex;
    justify-content: center;
  }

  .rodape-logo {
    display: block;
  }

  footer {
    text-align: center;
    flex-direction: column;
    height: 180vh;
    bottom: 0;
  }
}

@media (min-width: 901px) and (max-width: 1400px) {
  .div-logo {
    display: none;
  }

  .links-uteis,
  .links-uteis-titulo {
    display: none;
  }
}
