@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");

.cabecalho {
  background-color: var(--background-cabecalho);
}

.cabecalho-imagem {
  width: 100px;
  height: 100%;
}

.cabecalho-titulo {
  color: var(--branco);
  font-size: 2.5rem;
  font-family: var(--fonte-titulo);
}

#menu-botao {
  background-color: var(--background-cabecalho);
  color: var(--branco);
  border: none;
  font-size: 30px;
}

.menu-navegacao,
.menu-navegacao-botao {
  justify-content: center;
  background-color: var(--azul-navegacao);
}

.menu-navegacao-botao {
  text-align: center;
  display: none;
}

.menu-navegacao-lista {
  list-style-type: none;
  padding: 6px;
}

.menu-navegacao-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--branco);
  transition: 0.5s;
}

.menu-navegacao-link:hover {
  color: var(--vermelho-hover);
}

/*** MEDIA QUERIES ***/
@media screen and (min-width: 320px) {
  .cabecalho-logo-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-navegacao {
    display: none;
  }

  .cabecalho-titulo {
    margin: 20px 0;
  }
}

@media screen and (min-width: 800px) {
  #menu-botao,
  .menu-navegacao-botao {
    display: none;
  }

  .cabecalho-logo-titulo {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .cabecalho-titulo {
    padding-left: 4rem;
  }

  .menu-navegacao {
    display: flex;
    gap: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .cabecalho-titulo {
    text-align: center;
  }

  .menu-navegacao {
    gap: 14rem;
  }

  .cabecalho-logo-titulo {
    grid-template-columns: 30% 30% 30%;
  }
}

@media screen and (min-width: 1500px) {
  .cabecalho-titulo {
    padding-left: 8rem;
  }

  .menu-navegacao {
    gap: 16rem;
  }
}
